/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/01/2017, 03:47:09 ص
    Author     : Mustafa
*/


*{
    padding: 0;
    margin: 0;
    font-family: myfont;
}

@font-face{
    font-family: myfont;
    src:url(../fonts/Bitter-Regular.ttf);
}
